Bureau/
Images/
Modèles/
Public/
Documents/
Mail/
Musique/
Téléchargements/
Vidéos/
usb/
repo/
.cache/
.fonts/
.git/
.gnupg/
.nano/
.steam/
.thumbnails/
.ssh/
.mozilla/
.local/
.gimp-2.8/
.steam/
.config/pulse/
.config/dconf/user
.config/vlc/
.java/
.pki/
.PhpStorm2016.1/

.bash_history
.bash_logout
.bash_aliases
.dmrc
.fehbg
.gitconfig
.gitignore.swp
.lesshst
.profile
.selected_editor
.steampath
.steampid
.swp
.vim*
vimtutor
.ICEauthority
.Xauthority
.Xdefaults
.xfce4-session*
.xsession*
.zcompdump
.zshrc
.pulse-cookie
